<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Huami | Log in</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!--stylesheet-->
    <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/libs/AdminLTE/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico"/>

    <!--jquery-->
    <script src="/public/libs/jquery/dist/jquery.min.js"></script>
    <script src="/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--React Lib-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <!--App-->
    <script type='text/babel' src="/public/javascripts/huami/huami_login_react.js"></script>

</head>
<body>
<div id="content"></div>


</body>
</html>